{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand text-white" href="{% url 'rango:index' %}">Green Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'rango:index' %}">Index <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'rango:show_categories' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'rango:about' %}">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" role = 'search' method = 'get' action="{% url 'rango:search' %}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right mr-4">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown {% if activeTag == 'account' %}active {% endif %}">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User，{{ request.user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'account:index' %}">Account</a>
                        <a class="dropdown-item" href="{% url 'account:manage_pages' %}">Manage Pages</a>
                        <a class="dropdown-item" href="{% url 'account:site_message' %}">Site Message{% if unread_count %}<span class="badge badge-danger">{{ unread_count }}</span></a>
            {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <a class="nav-link text-white" href="{% url 'account:login' %}">Login</a>
            {% endif %}
        </ul>
    </div>
</nav>