{% extends 'rango/base.html' %}
{% block title %}
    <title>Change Password</title>
{% endblock %}
{% block nav %}
{% endblock %}
{% block content_block %}
    <div class="container">
        <style>
            .form-inline label {
                width: 30%;
                display: block;
                text-align: left;
                font-size: 18px;
            }

            .form-inline input {
                width: 70%;
            }

            .errorlist {
                color: red;
            }
            .help{
                font-size: 14px;
                color: #e0af41;
            }
        </style>
        <form class="form-account" method="post">
            {% csrf_token %}
            <h2 class="form-account-heading text-center">Change Password</h2>
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-inline form-group d-flex justify-content-between">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% if field.help_text %}
                        <span class="help">{{ field.help_text|safe }}</span>
                {% endif %}
                {{ field.errors }}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div> <!-- /container -->
{% endblock %}
{% block footer %}
{% endblock %}